body {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

#inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.create {
    width: 100%;
    text-align: center;
}

.create-toolbar {
    background-color: #e0e0e060;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    padding-left: 2rem;
    padding-right: 2rem;

    border-radius: 1000rem;
}

.create-action {
    /* background-color: red; */

    height: 2rem;
    width: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin: 0.5rem;

    border-radius: 100%;

    transition: 0.25s ease-in;

    overflow: hidden;
}

.create-action:hover {
    background-color: #e0e0e0;
    transform: scale(1.07);
}

.create-icon {
    height: 1.25rem;
}

/* Components */
.component {
    padding: 0.75rem;
    display: block;
}

.component:hover {
    background-color: #e0e0e0;
}


/* Editor */
#editor {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    padding: 0;
}

/* Text */
textarea {
    width: 95vw;
    height: 88vh;
    resize: none;
    border: none;
    font-size: 1rem;
    margin-top: 1.25vw;
    margin-left: 1.25vw;
    padding: 1rem;
    border: 1px solid #e0e0e0;

    background-color: white;
    outline: none;

    font: inherit;

}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.done {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 1rem;

    font:inherit;
    margin-right: 1rem;
    margin-left: 1rem;

    background-color: #41c6ff;

    float: right;
}
.delete {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 1rem;

    font:inherit;
    margin-right: 1rem;
    margin-left: 1rem;

    background-color: #ff4141;
}

button>img {
    height: 1.25rem;
}


.banner {
    flex-flow: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;
    overflow: scroll;

    width: min("800px", "80%");
    height: 60vh;

    z-index: 999999;

    border: 2px solid black;
    border-radius: 10px;


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.use {
    margin-top: 1rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.use__button {
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;

    border: 2px solid white;
    border-radius: 5px;

    background-color: #41c6ff;
    color: white;
    font-weight: bold;

    cursor: pointer;
}

.use__button:hover {
    background-color: rgb(54, 157, 202);
}