<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="block text">
        <span>
            <h1>An amazing lesson</h1>
            <p>Try out the awesome features around here</p>
        </span>
    </div>
    <div class="block image">
        <img src="https://via.placeholder.com/150" alt="placeholder">
    </div>
    <div class="create">
        <span class="create-toolbar">
            <span class="create-action"></span><span class="create-action"></span><span class="create-action"></span>
        </span>
    </div>
</body>

</html>